@{
    ViewBag.Title = "Home Page";
}
<main>
    <div>
        <h2>Name: @ViewBag.profile.Name</h2> <br>
        <h2>Email: @ViewBag.profile.Email</h2><br>
        <h2>Phone: @ViewBag.profile.Phone</h2><br>
        <h2>Degree: @ViewBag.profile.Degree</h2><br>
        <h2>Expertise: @ViewBag.profile.Expertise</h2><br>
    </div>
</main>